/* .carousel{
    width:50% !important;
    /* text-align: center; */
     /* height: 600px;  
} */


.carousel .slide{
    /* background: blue!important; */
    background-image:url("../../images/R.png")!important;
    height: 50vh;
}
.carousel .slide .legend{
    position: absolute;
    bottom: 40%;
    background: none! important;
     opacity: 0.6;
}