.container-fluid{
    background-color: #f8f9fa !important;
}
.carousel-indicators {
    bottom: 0;
  }
  .carousel-indicators li {
    background-color: #868e96;
    cursor: pointer;
  }
  .carousel-indicators .active {
    background-color: #007bff;
  }

  .ico-circle {
    padding-top: 8px;
    height: 40px;
    width: 40px;
    font-size: 1rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 2px #0078ff;
    display: block;
  }
  .skill-bar span {
    color: #4e4e4e;
  }
   .skill-bar .progress {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
  }
  
  .skill-bar .progress .progress-bar {
    height: .7rem;
    background-color: #0078ff;
  }